<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rentcar.mybatis.memberMapper">

	<select id="memberList" resultType="member">
		select * from member
	</select>

	<select id="checkLogin" parameterType="member" resultType="String">
		select id from member where id=#{id} and pw=#{pw}
	</select>
	
	<select id="getMemberNo" parameterType="String" resultType="Integer">
		select no from member where id=#{id}
	</select>
	
	<select id="memberContent" parameterType="Integer" resultType="member">
		select * from member where no=#{no}
	</select>
	
	<delete id="memberDelete" parameterType="String">
		delete from member where id=#{id}
	</delete>
	
	<update id="memberUpdate" parameterType="member">
		update member set email=#{email}, tel=#{tel}, hobby=#{hobby}, job=#{job}, age=#{age}, info=#{info} where no=#{no}
	</update>
	
	<insert id="memberInsert" parameterType="member">
		insert into member(id, pw, email, tel, hobby, job, age, info, oFileName, sFileName) 
		values(
		#{id},
		#{pw},
		#{email},
		#{tel},
		#{hobby},
		#{job},
		#{age},
		#{info},
		#{oFileName},
		#{sFileName}
		)
	</insert>
	
	
</mapper>	